.back-to-top {
  position: fixed;
  bottom: 0;
  left: 0;
  @include adaptiveValue("width", 80, 40, 0);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($blackColor, 2%);
  cursor: pointer;
  transition: $standartTrans;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  @media (max-width: 1300.98px) {
    height: 80px;
  }
  &.back-to-top_show {
    opacity: 1;
    visibility: visible;
  }
  &:hover {
    background: rgba($blackColor, 5%);
  }
  // .back-to-top__btn
  &__btn {
    position: relative;
    width: 40px;
    height: 40px;
    background: transparent;
    opacity: 0.1;
    transition: $standartTrans;
    z-index: 3;
    @media (max-width: 600.98px) {
      width: 24px;
      height: 24px;
      opacity: 0.6;
      &:hover {
        opacity: 1;
      }
    }
    &:hover {
      opacity: 0.6;
    }
  }
}
